.input-field{
    display: flex;
    /* flex-direction: row-reverse; */
    /* border: 1px solid rgba(0,0,0,0.3); */
    width: 19rem;
    margin  : auto;
    margin-top: 3rem;

}
.input-field input{
    
    padding: 4px 4px;
    border-radius: 4px;
}
a{
    text-decoration: none;
}
.user_name{
    flex: 1;
    outline: none;
    border-color: transparent;
}
input:focus{
    outline: none;
}
.text-center{
    align-items: center;
    text-align: center;
    margin-top: 2%;
    font-size: 27px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    
}
#bttn{
    background-color: #766FA3;
    border: none;
}
#exploreButton{
    width: 200px;
    margin: 7% auto;

    display: flex;
    justify-content: center;
    /* border-radius: 5%; */
    visibility: hidden;
    background-color: orange;

}
#exploreButton:hover{
    font-size: 21px;
    background-color: #d97733;
}


/* center all the elements and add a picture in background 
 */
 .contain {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 100vh;
    width: 100%;

    /* Background */
    background: url('../img/book1.png') center center / cover no-repeat;
}